{{#each products}}
	<div class="row l12">
		<div class="col l12">
			<div class="card blue-grey hoverable">
				<div class="card-content white-text">
					<table>
						<tbody>
							<thead>
								<tr>
									<th>Дата відгрузки</th>
									<th>Покупець</th>
									<th>Замовлення</th>
									<th>Дата замовлення</th>
									<th>Місце доставки</th>
									<th>Нетто, т</th>
									<th>Ціна, Євро</th>
									<th>Інкотермс</th>
									<th>Відтермінування</th>
									<th>Перевізник</th>
									<th>Фрахт, Євро</th>
									<th>Номер авто</th>
								</tr>
							</thead>
							<tr>
								<td>{{this.dispatchDate}}</td>
								<td>{{this.customer}}</td>
								<td>{{this.orderNumber}}</td>
								<td>{{this.orderDate}}</td>
								<td>{{this.placeOfDelivery}}</td>
								<td>{{this.nettoWeight}}</td>
								<td>{{this.price}}</td>
								<td>{{this.incoterms}}</td>
								<td>{{this.paymentDelay}}</td>
								<td>{{this.transporter}}</td>
								<td>{{this.freight}}</td>
								<td>{{this.plateNumbers}}</td>
							</tr>
						</tbody>
					</table>
					<p id="mongoId" style="display:none">{{this.id}}</p>
				</div>

				<div class="card-action">
					<div class="row">

						<div class="col left-align">
							<form id="form1" action="/products/editProduct" method="post">
								<input id="data1" style="display:none" from="form1" name="id" />
							</form>
							<button
								id="edit"
								onclick="sendData()"
								form="form1"
								class="btn waves-effect waves-light"
								type="submit"
							>Редагувати</button>
							<script>
								function sendData() { let item =
								document.getElementById('mongoId').innerHTML;
								document.getElementById('data1').value = item; }
							</script>
						</div>

						<div class="col left-align">
							<form id="form2" action="/products/removeProduct" method="post">
								<input id="data2" style="display:none" from="form2" name="id" />
							</form>
							<button
								id="remove"
								form="form2"
								class="btn waves-effect waves-light"
								type="submit"
							>Видалити</button>
							<script>
								remove.onclick = function () { let item =
								document.getElementById('mongoId').innerHTML;
								document.getElementById('data2').value = item; }
							</script>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
{{/each}}